@import "tailwindcss";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --bg-color: #F9F9F9; /*#FAFAF5; /* Light Beige */
    --text-color: #111111; /* Black */
    --accent-color: #FF4D00; /* Signal Orange */
    --gray-light: #e5e5e5;
}

/* Antique Olive Std - Compact Variant */
@font-face {
    font-family: 'Antique Olive Compact';
    src: url('fonts/Antique-Olive-Std-Compact_3864.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
